<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206638779373-q0kvh7o3a53er6uqij5pc6h8rfn29hbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206638779373-q0kvh7o3a53er6uqij5pc6h8rfn29hbs</string>
	<key>API_KEY</key>
	<string>AIzaSyDfzOqXq1-rBiMclIhXbTnAKrwRFuvQ7U8</string>
	<key>GCM_SENDER_ID</key>
	<string>206638779373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-967df</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-967df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206638779373:ios:9a5d2948327cff68a0b5e4</string>
</dict>
</plist>